{% extends "layouts/base.html" %}

{% block title %} Ventas {% endblock %}
{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Diagnósticos</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Diagnósticos</a></li>
                                <li class="breadcrumb-item"><a href="#!">Resistencia de aislamientos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Resistencia de aislamiento</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.media.js }}
  {{ forms.profile_form.as_p }}
  <label>Avatar</label>
  {{ forms.avatar_form.as_p }}
  <label>Background photo</label>
  {{ forms.background_form.as_p }}
<button type="submit" class="btn btn-success">Guardar</button>
</form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-12 col-xl-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span><h1>Documento</h1></span>
                                            <iframe src="" width="155%" height="500px">
    </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

{% endblock content %}
{% block javascripts %}
<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>
{% endblock javascripts %}